SetEnv APPLICATION_ENV production
RewriteBase /
RewriteEngine On
RewriteRule !\.(js|ico|txt|gif|jpg|png|css|xml|swf|zip|pdf)$ /public/index.php [L]
RewriteCond %{REQUEST_URI} !robots.txt$ [NC]
RewriteCond %{REQUEST_URI} !sitemap.xml$ [NC]
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]