@charset "utf-8";

#pics-box{margin-top: 50px;}
#pics-box #pic{margin: 0px 17px 17px 0px; display: block; float: left; position: relative;}
#pics-box #pic.last{margin-right: 0px;}
#pics-box #pic .active{background: url(/img/shared/ico/ico-01.png) no-repeat -80px 0px transparent; left: 2px; bottom: 2px; position: absolute; display: block; width: 16px; height: 19px;}
#pics-box #pic .active:hover{background-position: -80px -19px;}
#pics-box #pic .noactive{background: url(/img/shared/ico/ico-01.png) no-repeat -96px -19px transparent; left: 2px; bottom: 2px; position: absolute; display: block; width: 16px; height: 19px;}
#pics-box #pic .left{background: url(/img/shared/ico/ico-02.png) no-repeat 0px 0px transparent; left: 32px; bottom: 2px; position: absolute; display: block; width: 16px; height: 19px;}
#pics-box #pic .left:hover{background-position: -0px -19px;}
#pics-box #pic .right{background: url(/img/shared/ico/ico-02.png) no-repeat -16px 0px transparent; right: 32px; bottom: 2px; position: absolute; display: block; width: 16px; height: 19px;}
#pics-box #pic .right:hover{background-position: -16px -19px;}
#pics-box #pic .delete{background: url(/img/shared/ico/ico-01.png) no-repeat -48px 0px transparent; right: 2px; bottom: 2px; position: absolute; display: block; width: 16px; height: 19px;}
#pics-box #pic .delete:hover{background-position: -48px -19px;}
#pics-box #pic a{display: block; width: 16px; height: 19px;}
.floatfix{clear: both;}

.watermark{display: block; margin: auto; background-color: #ffffff; border: 5px solid #bbbbbb; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
